[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    too-few-public-methods

[DESIGN]
max-positional-arguments=10
max-args=10
max-locals=20
max-attributes=10